body{
    padding: 20px;
    margin: 0;
    background: #1B1924;
    font-family: Josefin Sans, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 390px;
}

.freddiePic {
    width: 90px;
    height: 90px;
}

h1{
    color: white;
    font-size: 25px;
}

#endorsement-Input{
    width: 310px;
    height: 118px;
    border-radius: 8px;
    border: none;
    background: #444059;
    font-size: 16px;
    padding: 10px;
}

#publishBtn {
    width: 330px;
    height: 61px;
    margin-top: 10px;
    background: #28A9F1;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 22px;
}

#publishBtn:hover{
    background-color: aqua;
    cursor: pointer;
}

#fromInput, #toInput{
    width: 143px;
    height: 25px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    text-align: center;
    margin-top: 10px;
    background: #444059;
}

h2{
    color: white;
    font-size: 20px;
    padding: 0;
    margin-top: 30px;
    margin-bottom: -10px;
}

#textPost{
    width: 314px;
    height: 72%;
    margin-right: 40px;
    margin-top: 10px;
    padding: 3px 8px;
    background-color: white;
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
}

#toAndFromInEndorsement, #TextInEndorsement{
    text-align: left;
}

#toAndFromInEndorsement{
    font-weight: 700;
    font-size: 15px;
}


